@import "tailwindcss";

:root {
  --background: #f4f4fa;
  --primary: #262261;
  --secondary: #f28627;
  --bg-yellow: #ffc529;
  --red: #e31746;
  --green-10: #41a52d;
  --green-20: #63ae52;
  --green-30: #03c43e;
  --gray-10: #d9d9d9;
  --gray-20: #d5e3d6;
  --gray-30: #707070;
  --gray-40: #a2a2a2;
  --gray-50: #9291a2;
  --gray-60: #adadad;
  --typography-primary: #1f2026;
  --typography-secondary: #554f4f;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-yellow: var(--bg-yellow);
  --color-red: var(--red);
  --color-green-10: var(--green-10);
  --color-gray-10: var(--gray-10);
  --color-gray-20: var(--gray-20);
  --color-gray-30: var(--gray-30);
  --color-gray-40: var(--gray-40);
  --color-gray-50: var(--gray-50);
  --color-gray-60: var(--gray-60);
  --color-typography-primary: var(--typography-primary);
  --color-typography-secondary: var(--typography-secondary);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  font-family: var(--font-nunito), "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
